* {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: sans-serif, 'Times New Roman', Times, serif ;
    /* background: black; */
}
h1.title {
    display: block;
    text-align: center;
    height: auto;
    width: 850px;
    margin: 3px auto;
    padding: 12px;
    background-color: aqua;
}

.lista_uno,
.lista_dos,
.lista_tres {
    padding: 3px ;
    /* border: 2px dotted rgb(4, 218, 25); */
    list-style-type: none;
    margin: 20px;
    list-style-position: inside;
    text-align: center;
    
}
.lista_dos {
    background-color: #d98c2e;
}
.cuerpo-tender {
    background-color: rgba(10, 174, 149, 0.375)
}

h1.title_tender{
    display: block;
    text-align: center;
    height: auto;
    width: 872px;
    margin: 3px auto;
    padding: 12px;
    background-color: #d98c2e;
}

.tender-img {
    margin: 4px;
    outline: 3px groove #d98c2e;
    margin-bottom: 20px;
}
h2 {
    margin: 25px 10px;
    
}

p.tender-p {
    margin: 20px auto;
}

.tender-ul {
    margin: 30px;
    list-style-position: outside;
    list-style-type: square;
}

.tender-ol {
    margin: 30px;
    list-style-type: ;
}
div.final {
    margin-bottom: 40px;
}

.home-tender,
.up-tender {
    display: inline-block;
    padding: 1px 20px;
    margin: 1px 20px;
    border: 2px solid white;
}